<template>
  <div class="home">
    <Navbar />
    <main-page />
  </div>
</template>

<script>
// @ is an alias to /src
import Navbar from "@/components/Navbar.vue";
import MainPage from "@/components/MainPage.vue";

export default {
  name: "Home",
  components: {
    Navbar,
    MainPage,
  },
};
</script>
