<template>
  <div>
    <nav class="navbar navbar-light ">
      <div class="container-fluid">
        <a class="navbar-brand text-white" href="/">
          <img
            src="@/assets/health.svg"
            alt=""
            width="30"
            height="24"
            class="d-inline-block align-top"
          />
          Cek DBD Online
        </a>
      </div>
    </nav>
  </div>
</template>

<script>
export default {
  name: "HelloWorld",
  props: {
    msg: String,
  },
};
</script>
<!-- Add "scoped" attribute to limit CSS to this component only -->
<style scoped lang="scss">
h3 {
  margin: 40px 0 0;
}
ul {
  list-style-type: none;
  padding: 0;
}
li {
  display: inline-block;
  margin: 0 10px;
}
a {
  color: #42b983;
}
</style>
